<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" ng-init="navCollapsed" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="/">Polling App</a>
      </div> <!-- end nav header -->
      <div class="collapse navbar-collapse" ng-class="navCollapsed && 'in'">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signin">Sign In</a></li>
          <!-- add check if user is signed in, if so, display another link to 'profile' -->
        </ul> 
      </div> <!-- navbar collapse div -->
    </nav> <!-- end nav -->
    <% if ( userFullName ) { %>
      <h2> Hello <%=userFullName%></h2>
        <a href="/signout"> Sign out </a>
    <% } else { %>
      <a href="/signup"> Signup</a>
      <a href="/signin"> Signin</a>
    <% } %>
    <section ng-view></section>  <!-- dynamic view handling -->

    <footer class="navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <span> Made by: Raheela Khan </span>
      </div>
    </footer> 
    <script  src="/lib/angular/angular.js"></script> 
    <script src="/lib/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/lib/angular-route/angular-route.js"></script>
    <script  src="/example/example.client.module.js"></script>
    <script  src="/example/controllers/example.client.controller.js"></script>
      <script src="/example/config/app.client.routes.js"></script>
    <script  src="/application.js"></script>
  </body>
</html>
