<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
  <% include ./partials/navigation %>

    <section ng-view></section> 
    <footer class="navbar-default navbar-fixed-bottom">
      <% include ./partials/footer %>
    </footer>
 
    <script type="text/javascript"> window.user = <%- user || 'null' %>; </script>
    <script  src="/lib/angular/angular.js"></script> 
         <script src="/lib/Chart.js/Chart.js"></script>
    <script type="text/javascript" src="/lib/tc-angular-chartjs/dist/tc-angular-chartjs.js"></script>
    <script src="/lib/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/lib/angular-route/angular-route.js"></script>
    <script src="/lib/angular-resource/angular-resource.js"></script>
    <script src="/users/users.client.module.js"></script>
    <script src="/users/services/authentication.client.service.js"></script>
      <script src="/api/api.client.module.js"></script>
      <script src="/api/controllers/api.client.controller.js"></script>
      <script src="/api/config/api.client.routes.js"></script>
    <script  src="/application.js"></script>
  </body>
</html>
